.checkout__product {
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
}

.checkout__product > img {
    height: 180px;
    width: 180px;
    object-fit: contain;
}

.checkoutProduct__title {
    font-size: 20px;
    font-weight: 500;
}

.checkoutProduct__title, .checkoutProduct__price {
    font-family: 'Poppins', sans-serif;
}

.checkoutProduct__title:hover {
    color: #a749ff;
}

.checkoutProduct__rating {
    color: #FFDF00;
}

.btn__removeFromBasket {
    margin-top: 8px;
    font-family: 'Poppins', sans-serif;
    border: 1px solid;
}
