@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,400;1,300&display=swap');

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    position: sticky;
    border-bottom: 1px solid lightgray;
}

.header__left {
    display: flex;
    align-items: center;
    margin-left: 25px;
}

.header__left > p {
    padding-left: 40px;
    color: #555552;
    font-size: 16px;
    letter-spacing: .8px;
    text-transform: capitalize;
    font-family: 'Poppins', sans-serif;
    white-space: nowrap;
    cursor: pointer;
}

.header__left p:hover {
    color: #a749ff;
}

.header__right {
    display: flex;
    align-items: center;
}

